<chapter>
  <title>Configuration</title>
<para>The configuration of the application is simple, only the
connection attributes for the database are required and optionally the
output path where the files are created.</para>
<para>To find out where are the configuration files, use the command:</para>
  <para>
    <programlisting>
  % qdepo -l
    </programlisting>
  </para>
<para>This will return something like:</para>
  <para>
    <programlisting>
Connection configurations:
  > test
 in '/home/user/.local/share/.qdepo/db'
    </programlisting>
  </para>
  <para>
A configuration name is the name of the directory underneath the
<emphasis>.qdepo/db/</emphasis> path. This directory contains two
other directories <emphasis>etc</emphasis> and
<emphasis>qdf</emphasis>. The <emphasis>etc</emphasis> directory
contains a file named <emphasis>connection.yml</emphasis>.  This file
has to be updated with the connection configuration for your database.
The other directory named <emphasis>qdf</emphasis> is the place where
your query definition files are stored. The <emphasis>.qdf</emphasis>
files can be created and updated with the graphical user interface or
copied from existing repositories.</para>
<para>
Configuration files are in YAML format - the format described in the
documentation of the YAML::Tiny module.</para>
<para>Multiple database connection configurations can coexists.</para>
<para>An example user configuration tree:</para>
<para>
  <programlisting>
.qdepo/
|-- db
|   |-- classicmodels
|   |   |-- etc
|   |   |   `-- connection.yml
|   |   `-- qdf
|   |       |-- report-00001.qdf
|   |       |-- ...
|   |       `-- report-0000N.qdf
|   `-- other-db-config
|       |-- etc
|       |   `-- connection.yml
|       `-- qdf
|           |-- report-00001.qdf
|           |-- ...
|           `-- report-0000N.qdf
`-- etc
    |-- general.yml
    |-- interfaces
    |   |-- icons
    |   |   |-- README
    |   |   `-- actexit16.gif
    |   `-- toolbar.yml
    `-- template
        |-- connection.yml
        `-- template.qdf
  </programlisting>
</para>
<para>From this tree, only the <emphasis>connection.yml</emphasis>
file is of interest for the administrator who initially installs and
configures the application.</para>
<para>The contents of the initial configuration file is self explanatory:</para>
  <para>
    <programlisting>
# QDepo
# Database connection configuration
# Valid options for driver are:
#  cubrid | firebird | postgresql | mysql | sqlite
# The output path points to the directory where output files are created
#
# ~ means undefined
---
connection:
  driver: cubrid
  host:   localhost
  dbname: demodb
  port:   30000
    </programlisting>
  </para>
  <para>  </para>
</chapter>
